body {
  margin-bottom:35vw;
  margin-left:35vw;
  margin-right:35vw;
  border-width: 0.5vw;
  border-style:solid;
  background-image:url(to\ odd.jpg);
  background-size: cover;
}

* {
  box-sizing:border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 1vw;
  list-style-type: none;
  background: #eee;
  font-size: 3vw;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 1vw 1vw 0;
  top: 1vw;
  left:3vw;
  transform: rotate(45deg);
  height:3vw;
  width:1vw;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1vw 1vw;
}

.close:hover {
  background-color: #fa060ae8;
  color: white;
}

/* Style the header */
.header {
  /* background-color: #f44336; */
  background-color: tan,blue;
  padding: 1vw 1vw;
  color: rgb(43, 42, 42);
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  /* background-image:url(bg.jpg); */
  background-image:url(to\ do.jpg);
  background-size: cover;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding:1vw;
  float: left;
  font-size:2vw;
}

/* Style the "Add" button */
.addBtn {
  padding:1vw;
  width: 25%;
  background: #181818;
  color: #555;
  float: left;
  text-align: center;
  font-size:2vw;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #c3c3c3e1;
}
